# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE files
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project

# Compiled files
*.class
*.war
*.ear

# Logs
*.log

# Environment
.env